.keep-forms-container{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin-bottom: 5vh;
}

.keep-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3vh;
    border: 1px solid rgba(93, 93, 93, 0.446);
    border-radius: 8px;
}

.keep-add-button {
    background-color: white;
    color:#f59c58;
    font-size: 160%;
    font-weight: 500;
    width: 60px;
    border: 0px solid rgba(64, 64, 64, 0.245);
    cursor: pointer;
}

.keep-add-input {
    background-color: white;
    color: #f59c58;
    font-size: 150%;
    width: 300px;
    height: 50px;
    border-width: 0px;
    margin-right: 5px
}

.keep-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}
