@media(max-width : 965px){
    .keep-forms-container {
        flex-direction: column; 
    }
    .keep-preview-bar{
        opacity:1.0 !important;
    }
    .keep-add{
        flex-direction: column;
        border-width: 0px;
    }
    .keep-filter{
        flex-direction: column;
    }

}